<!-- web form -->
<% layout('layout') -%>
<div class="register">
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto">
        <h1 class="display-4 text-center">Web Form</h1>
        <p class="lead text-center">Delete a credential</p>
        <form action="/users/delete" method="post">
          <div class="form-group">
            <h5>Enter the email address you want to delete</h5>
            <input type="email" class="form-control form-control-lg" placeholder="Email Address" name="emaild" /><br>
          </div>
          <input type="submit" class="btn btn-danger btn-block mt-4" />
        </form>
      </div>
    </div>
  </div>
</div>
